/target/

/.classpath
/.settings/
/.project
/snow-web/target/classes
/snow-web/target/classes/*.xml
/snow-web/target/classes/mapping/*.xml
/snow-web/target/classes/spring/*.xml
/snow-web/target/classes/*.properties
/snow-web/target/m2e-wtp/web-resources/META-INF/*.MF
/snow-web/target/m2e-wtp/web-resources/META-INF/maven/com.snowstone/snow-web/*.properties
/snow-web/target/m2e-wtp/web-resources/META-INF/maven/com.snowstone/snow-web/*.xml
/snow-web/target/classes/*.xml
/snow-web/target/classes/mapping/*.xml
/snow-web/target/classes/spring/*.xml
/snow-web/target/classes/*.properties
/snow-web/target/m2e-wtp/web-resources/META-INF/*.MF
/snow-web/target/m2e-wtp/web-resources/META-INF/maven/com.snowstone/snow-web/*.properties
/snow-web/target/m2e-wtp/web-resources/META-INF/maven/com.snowstone/snow-web/*.xml
