<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx.xsd
                     http://www.springframework.org/schema/task  
					 http://www.springframework.org/schema/task/spring-task.xsd  ">
	
	<context:annotation-config />
	<!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
	<context:component-scan base-package="com.snowstone.snow">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>
	<!-- cglib -->
	<aop:aspectj-autoproxy  proxy-target-class="true"/>
	
	 <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="fileEncoding" value="utf-8" />
		<property name="locations">
			<list>
				<value>classpath:web.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
	    destroy-method="close">
	    <property name="driverClass" value="${db_driverClass}" />
	    <property name="jdbcUrl" value="${db_jdbcUrl}"/>
	    <property name="user" value="${db_user}" />
	    <property name="password" value="${db_password}" />
	    <property name="minPoolSize" value="${db_minPoolSize}" /><!-- 3 -->
	    <property name="maxPoolSize" value="${db_maxPoolSize}" /><!-- 50 -->
	    <property name="initialPoolSize" value="${db_initialPoolSize}" /><!-- 3 -->
	    <property name="maxIdleTime" value="${db_maxIdleTime}" /><!-- 180 -->
	    <property name="idleConnectionTestPeriod" value="${db_idleConnectionTestPeriod}" /><!-- 60 -->
  	</bean>
	
	
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- cglib -->
	<tx:annotation-driven  transaction-manager="txManager" proxy-target-class="true" />
	
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:mapping/**/*.xml"/>
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageHelper">
					<property name="properties">
						<value>
							dialect=mysql
							reasonable=true
						</value>
					</property>
				</bean>
			</array>
		</property>		
    </bean>
 
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- <property name="annotationClass" value="org.springframework.stereotype.Repository" /> -->
		<property name="basePackage" value="com.snowstone.snow.core.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>
</beans>