<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security-4.2.xsd">
    
    <beans:bean id="securityContextLogoutHandle" 
    	class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>
	
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/" access="hasRole('ADMIN') or hasRole('USER')" />
        <intercept-url pattern="/home" access="hasRole('ADMIN') or hasRole('USER')" />
        <intercept-url pattern="/admin/**" access="hasRole('ADMIN')" />
        <access-denied-handler error-page="/accessDenied" /> 
        <form-login login-page="/login" 
        			username-parameter="username" 
        			password-parameter="password"
        			login-processing-url="/login"      			
        			authentication-failure-url="/authenticationFailure"/>
    </http>
  
    <authentication-manager >
        <authentication-provider user-service-ref="snowUserDetailsService" />
    </authentication-manager>
    
    
</beans:beans>